:root {
  --color_Font: black;
  --size_Font: 110%;
  --padding_Left_Side: 0px;
  --padding_Right_Side: 0px;

  /* Experimental */
  --background: var(--set_White);

  --set_Black: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Crect width='100%25' height='100%25' fill='black'/%3E%3C/svg%3E");
  --set_White: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Crect width='100%25' height='100%25' fill='white'/%3E%3C/svg%3E");
  --set_Ivory: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Crect width='100%25' height='100%25' fill='ivory'/%3E%3C/svg%3E");
  --set_Beige: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Crect width='100%25' height='100%25' fill='beige'/%3E%3C/svg%3E");
  --set_Linen: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Crect width='100%25' height='100%25' fill='linen'/%3E%3C/svg%3E");
  --set_Oldlace: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Crect width='100%25' height='100%25' fill='oldlace'/%3E%3C/svg%3E");
  --set_Antiquewhite: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Crect width='100%25' height='100%25' fill='antiquewhite'/%3E%3C/svg%3E");
}

/* Experimental */
@page {
  /* margin-top: 400px; */
  /* margin-right: 200px; */
  /* margin-bottom: 100px; */
  /* margin-left: 200px; */
}

body,
header *,
blockquote {
  margin: 0;
  padding: 0;
}

body {
  color: var(--color_Font);
  font-size: var(--size_Font);
  padding-left: calc(20px + var(--padding_Left_Side));
  padding-right: calc(20px + var(--padding_Right_Side));

  /* Kvůli Apple - Nepřijímá pozadí*/
  print-color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

/* Kvůli Apple - Nepřijímá pozadí*/
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: var(--background);
  background-size: cover;
}

header {
  width: 100%;
  position: relative;
  margin: 30px auto 30px auto;
  padding: 10px 0 10px 20px;
}

header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  background: var(--color_Font);
}

header h1 {
  padding-bottom: 20px
}

header h3:first-of-type {
  padding-bottom: 10px;
}

header .metadata {
  display: grid;
  grid-template-columns: 50px auto;
  column-gap: 10px;
}

header .metadata img {
  width: 50px;
  height: 50px;
}

header .metadata h3 {
  padding-bottom: 0px
}

.intro {
  display: grid;
  grid-template-columns: 60% 40%;
  column-gap: 10px;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
  display: inline-block;
}

blockquote {
  font-style: italic;
  border-left: 2px solid #ccc;
  padding-left: 10px;
}

div.article p:first-of-type {
  text-indent: 0px;
  color: red;
}

div.article p {
  text-indent: 20px;
}



/* Experimental */
.image-container {
  text-align: center;
}

.image-container img {
  display: inline-block;
  vertical-align: top;
}